In [1]:
import pandas as pd

# Create a DataFrame with fictitious data
datos = {
    'Fecha': pd.date_range(start='2024-01-01', periods=50, freq='D'),
    'Producto': ['Producto_A', 'Producto_B', 'Producto_C', 'Producto_D', 'Producto_E'] * 10,
    'Cantidad': [5, 10, 15, 20, 25] * 10,
    'Precio': [100, 150, 200, 250, 300] * 10
}
df = pd.DataFrame(datos)
df

        Fecha    Producto  Cantidad  Precio
0  2024-01-01  Producto_A         5     100
1  2024-01-02  Producto_B        10     150
2  2024-01-03  Producto_C        15     200
3  2024-01-04  Producto_D        20     250
4  2024-01-05  Producto_E        25     300
5  2024-01-06  Producto_A         5     100
6  2024-01-07  Producto_B        10     150
7  2024-01-08  Producto_C        15     200
8  2024-01-09  Producto_D        20     250
9  2024-01-10  Producto_E        25     300
10 2024-01-11  Producto_A         5     100
11 2024-01-12  Producto_B        10     150
12 2024-01-13  Producto_C        15     200
13 2024-01-14  Producto_D        20     250
14 2024-01-15  Producto_E        25     300
15 2024-01-16  Producto_A         5     100
16 2024-01-17  Producto_B        10     150
17 2024-01-18  Producto_C        15     200
18 2024-01-19  Producto_D        20     250
19 2024-01-20  Producto_E        25     300
20 2024-01-21  Producto_A         5     100
21 2024-01-22  Producto_B        10     150
22 2024-01-23  Producto_C        15     200
23 2024-01-24  Producto_D        20     250
24 2024-01-25  Producto_E        25     300
25 2024-01-26  Producto_A         5     100
26 2024-01-27  Producto_B        10     150
27 2024-01-28  Producto_C        15     200
28 2024-01-29  Producto_D        20     250
29 2024-01-30  Producto_E        25     300
30 2024-01-31  Producto_A         5     100
31 2024-02-01  Producto_B        10     150
32 2024-02-02  Producto_C        15     200
33 2024-02-03  Producto_D        20     250
34 2024-02-04  Producto_E        25     300
35 2024-02-05  Producto_A         5     100
36 2024-02-06  Producto_B        10     150
37 2024-02-07  Producto_C        15     200
38 2024-02-08  Producto_D        20     250
39 2024-02-09  Producto_E        25     300
40 2024-02-10  Producto_A         5     100
41 2024-02-11  Producto_B        10     150
42 2024-02-12  Producto_C        15     200
43 2024-02-13  Producto_D        20     250
44 2024-02-14  Producto_E        25     300
45 2024-02-15  Producto_A         5     100
46 2024-02-16  Producto_B        10     150
47 2024-02-17  Producto_C        15     200
48 2024-02-18  Producto_D        20     250
49 2024-02-19  Producto_E        25     300

In [2]:
primeras_5_filas = df.head(5)
print("Primeras 5 filas:")
print(primeras_5_filas)

Primeras 5 filas:
       Fecha    Producto  Cantidad  Precio
0 2024-01-01  Producto_A         5     100
1 2024-01-02  Producto_B        10     150
2 2024-01-03  Producto_C        15     200
3 2024-01-04  Producto_D        20     250
4 2024-01-05  Producto_E        25     300

In [3]:
ultimas_5_filas = df.tail(5)
print("\nÚltimas 5 filas:")
print(ultimas_5_filas)

Últimas 5 filas:
        Fecha    Producto  Cantidad  Precio
45 2024-02-15  Producto_A         5     100
46 2024-02-16  Producto_B        10     150
47 2024-02-17  Producto_C        15     200
48 2024-02-18  Producto_D        20     250
49 2024-02-19  Producto_E        25     300

In [4]:
filas_10_a_20 = df.iloc[10:21]
print("\nFilas desde la posición 10 a la 20 (inclusive):")
print(filas_10_a_20)

Filas desde la posición 10 a la 20 (inclusive):
        Fecha    Producto  Cantidad  Precio
10 2024-01-11  Producto_A         5     100
11 2024-01-12  Producto_B        10     150
12 2024-01-13  Producto_C        15     200
13 2024-01-14  Producto_D        20     250
14 2024-01-15  Producto_E        25     300
15 2024-01-16  Producto_A         5     100
16 2024-01-17  Producto_B        10     150
17 2024-01-18  Producto_C        15     200
18 2024-01-19  Producto_D        20     250
19 2024-01-20  Producto_E        25     300
20 2024-01-21  Producto_A         5     100

In [5]:
columnas_producto_cantidad = df[['Producto', 'Cantidad']]
print("\nTodas las filas, solo columnas Producto y Cantidad:")
print(columnas_producto_cantidad)

Todas las filas, solo columnas Producto y Cantidad:
      Producto  Cantidad
0   Producto_A         5
1   Producto_B        10
2   Producto_C        15
3   Producto_D        20
4   Producto_E        25
5   Producto_A         5
6   Producto_B        10
7   Producto_C        15
8   Producto_D        20
9   Producto_E        25
10  Producto_A         5
11  Producto_B        10
12  Producto_C        15
13  Producto_D        20
14  Producto_E        25
15  Producto_A         5
16  Producto_B        10
17  Producto_C        15
18  Producto_D        20
19  Producto_E        25
20  Producto_A         5
21  Producto_B        10
22  Producto_C        15
23  Producto_D        20
24  Producto_E        25
25  Producto_A         5
26  Producto_B        10
27  Producto_C        15
28  Producto_D        20
29  Producto_E        25
30  Producto_A         5
31  Producto_B        10
32  Producto_C        15
33  Producto_D        20
34  Producto_E        25
35  Producto_A         5
36  Producto_B        10
37  Producto_C        15
38  Producto_D        20
39  Producto_E        25
40  Producto_A         5
41  Producto_B        10
42  Producto_C        15
43  Producto_D        20
44  Producto_E        25
45  Producto_A         5
46  Producto_B        10
47  Producto_C        15
48  Producto_D        20
49  Producto_E        25

In [6]:
import pandas as pd
import numpy as np

datos = {
    'Nombre': ['Ana', 'Luis', 'Juan', 'Maria', np.nan, 'Pedro', 'Carla'],
    'Edad': [23, np.nan, 35, 29, 42, np.nan, 30],
    'Salario': [50000, 55000, np.nan, 62000, 58000, 60000, np.nan]
}
df = pd.DataFrame(datos)
df

  Nombre  Edad  Salario
0    Ana  23.0  50000.0
1   Luis   NaN  55000.0
2   Juan  35.0      NaN
3  Maria  29.0  62000.0
4    NaN  42.0  58000.0
5  Pedro   NaN  60000.0
6  Carla  30.0      NaN

In [7]:
nulos_por_columna = df.isnull().sum()
print("Valores nulos por columna:")
print(nulos_por_columna)

total_nulos = df.isnull().sum().sum()
print(f"\nTotal de valores nulos en el DataFrame: {total_nulos}")

Valores nulos por columna:
Nombre     1
Edad       2
Salario    2
dtype: int64

Total de valores nulos en el DataFrame: 5

In [8]:
df_sin_nulos_filas = df.dropna()
print("\nDataFrame después de eliminar filas con valores nulos:")
print(df_sin_nulos_filas)

DataFrame después de eliminar filas con valores nulos:
  Nombre  Edad  Salario
0    Ana  23.0  50000.0
3  Maria  29.0  62000.0

In [9]:
df_rellenado_especifico = df.copy() # Create a copy to avoid modifying the original DataFrame directly
df_rellenado_especifico['Nombre'] = df_rellenado_especifico['Nombre'].fillna('Desconocido')
df_rellenado_especifico['Edad'] = df_rellenado_especifico['Edad'].fillna(0)
df_rellenado_especifico['Salario'] = df_rellenado_especifico['Salario'].fillna(0)

print("\nDataFrame después de rellenar valores nulos con un valor específico:")
print(df_rellenado_especifico)

DataFrame después de rellenar valores nulos con un valor específico:
        Nombre  Edad  Salario
0          Ana  23.0  50000.0
1         Luis   0.0  55000.0
2         Juan  35.0      0.0
3        Maria  29.0  62000.0
4  Desconocido  42.0  58000.0
5        Pedro   0.0  60000.0
6        Carla  30.0      0.0

In [10]:
df_rellenado_promedio = df.copy() # Create another copy for this operation

# Calculate the mean for numeric columns with NaNs
mean_edad = df_rellenado_promedio['Edad'].mean()
mean_salario = df_rellenado_promedio['Salario'].mean()

# Fill NaNs with their respective means
df_rellenado_promedio['Edad'] = df_rellenado_promedio['Edad'].fillna(mean_edad)
df_rellenado_promedio['Salario'] = df_rellenado_promedio['Salario'].fillna(mean_salario)

print("\nDataFrame después de rellenar valores nulos con el promedio de la columna:")
print(df_rellenado_promedio)

DataFrame después de rellenar valores nulos con el promedio de la columna:
  Nombre  Edad  Salario
0    Ana  23.0  50000.0
1   Luis  31.8  55000.0
2   Juan  35.0  57000.0
3  Maria  29.0  62000.0
4    NaN  42.0  58000.0
5  Pedro  31.8  60000.0
6  Carla  30.0  57000.0